@import '../settings.scss';
.aboutContainer {
  width: 87%;
  margin: auto;
  font-size: 24px;
  position: relative;
  margin-top: 30px;
  .headerAboutContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $color-primary;
    border-radius: 5px;
    @media screen and (max-width: 840px) {
      height: 30px;
      font-size: 13px;
    }
    img {
      padding: 16px 30px;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      @media screen and (max-width: 1180px) {
        padding: 10px;
        width: 15px;
      }
    }
    .notActive {
      transform: rotate(180deg);
    }
    .notActive2 {
      transform: rotate(180deg);
    }
    p {
      margin: 0;
      padding: 5px 18px;
      color: white;
    }
  }

  .visible {
    transition: transform 0.2s;
    background-color: $color-secondary;
    color: $color-primary;
    border-radius: 0px 0px 5px 5px;
    margin-top: -2px;
    padding: 36px 18px;
  }
  .visible2 {
    transition: transform 0.2s;
    background-color: $color-secondary;
    color: $color-primary;
    border-radius: 0px 0px 5px 5px;
    margin-top: -2px;
    padding: 36px 18px;

    li {
      list-style-type: none;
    }
  }
  .notVisible {
    transform: scale(0);
    position: absolute;
  }
  .notVisible2 {
    transform: scale(0);
    position: absolute;
  }
}
