@import '../settings';
body {
  font-size: 48px;

  .homeBanner {
    width: 87%;
    height: 21vh;
    margin: auto;
    overflow: hidden;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 43px;
    position: relative;

    .img__container {
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0.7;
      background-image: url('../../assets/backgroundHome.png');
      background-size: 100% 100%;
      background-position: 40% center;
      @media screen and (max-width: 840px) {
        background-size: 200% 100%;
        background-position: 50% bottom;
      }
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: max-content;
      text-align: center;
      margin: 0;
      font-size: 48px;
      @media screen and (max-width: 840px) {
        font-size: 24px;
        width: 100%;
        margin-left: 16px;
        text-align: left;
      }
    }
  }
  .homeContainer {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    max-width: 87%;
    height: auto;
    background-color: $color-secondary;
    border-radius: 25px;
    flex-wrap: wrap;
    padding-top: 56px;
    @media screen and (max-width: 840px) {
      background-color: transparent;
    }
  }
}
