@import '../settings';
@import '../utils/keyframes';
body {
  font-size: 48px;

  .homeContainer {
    // animation: timer 1s ease-in-out;

    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    max-width: 87%;
    height: auto;
    background-color: $color-secondary;
    border-radius: 25px;
    flex-wrap: wrap;
    padding-top: 56px;

    @media screen and (max-width: 840px) {
      background-color: transparent;
      padding-top: 0;
    }
  }
  .footer {
    margin-top: 50px;
  }
}
