$color-primary: #ff6060;
$color-secondary: #f7f7f7;
$border1: 1px solid red;
$border2: 1px solid blue;
$border3: 1px solid green;

body {
  font-family: 'Montserrat';
  max-width: 1440px;
  margin: auto;
}
